
.mat-button{
  color: rgb(2, 0, 128);
}
.bt{
  padding: 30px 60px 5px;

}
/* .count{
  padding: 30px;
} */

table{
  width:100%;
}
.search-input{
  outline: none;
  border: 1px solid #CCC;
  padding:10px 15px;
  border-radius: 3px;
  width:400px;

}

.serach-input:active{
  border:1px solid #06c4f4;
}

/* .serach-input:active{
  border:1px solid #AAA;
} */
.serach-input:focus{
  border:1px solid #BBB;
}
.edit{
  color:rgb(0, 0, 0);
}
.mat-mdc-table {
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

.mat-column-name {
  height: 70px;
}
.st-bt{
  width:120px;
}
